//====================================
// Global Imports
//====================================


// 1- Import bootstrap framework
@import '1-frameworks/index';

// 2 - Import plugins
@import '2-plugins/index';

// 3 - Import base style, custom variables and mixins
@import '3-base/index';

// 4 - Import modules
@import '4-modules/index';

// 5 - Import layout  styles
@import '5-layout/index';

.center-flex{
    display: flex;
    justify-content: center;
    &.vertical{
        align-items: center;
    }
}

.wrapper-small{
    width: 100%;
    max-width: 800px;
    margin:0 20px 0 20px
}
.wrapper-large{
    width: 100%;
    max-width: 1000px;
    margin:0 20px 0 20px
}

h1{
    padding-top: 40px;
    
}


.section-one{
    height:100vh;
    background-color: beige;
}
.section-two{
    height:100vh;
    background-color: rgb(189, 161, 110);
}